// bower:scss
// endbower

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.title {
  text-align: center;
}

.content {
  width: 75%;
  display: block;
  margin: 0 auto;
}

.headline {
  color: #FC6E1F;
  text-transform: capitalize;
  text-decoration: none;

  &:hover {
    color: darken(#FC6E1F, 10%);
  }
}

a {
  color: #AD3121;
  &:hover {
    color: darken(#AD3121, 10%);
  }
}

article {
  border-bottom: 5px solid #f1f1f1;
  padding: 15px;
}

footer {
  position: fixed;
  font-size: 14px;
  background: white;
  bottom: 0;
  border-top: 1px solid #cecece;
  width: 95%;
}

p {
  line-height: 24px;
  font-family: 1.5em;
  margin: 10px 0 16px;
  color: #515151;
  font-family: Georgia, 'Times New Roman', serif;
}

.hero-unit {
  width: 50%;
  margin: 0 auto;
  text-align: center;

  .wit-microphone {
    margin: 0 auto;

    &:hover {
      cursor: pointer;
    }
  }
}

button {
  margin: 0 auto;
}
