// bower:scss
// endbower

.content {
  margin-top: 50px;
}

.hero-unit {
  width: 50%;
  margin: 0 auto;
  text-align: center;

  .wit-microphone {
    margin: 0 auto;
  }
}

button {
  margin: 0 auto;
}
